.container{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.chooseGender{
    margin-top: 90px;
    color: wheat;

}
.imageContainer a img{
    height: 300px;
    border-radius: 30px;
    margin-top: -50px;

}
.chooseGender a img:hover{
    filter:contrast(1.3);
    transform: scale(1.2);
    transition: 0.5s;
}
.line{
    width:500px;
    height: 3px;
    background-color: aliceblue;
    text-align: center;
}
.login{
    color: wheat;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
}
