.container{
    float: right;
}

.listContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 2rem;
    transform: translateX(-100%);
    margin-top: 100px;
}
.listContainer {
color:rgb(252, 184, 58)
}
.listContainer li{
    margin: 5px auto;
}
input[type="checkbox"]{
    border-radius: 50%;
    width: 18px;
    height: 18px;
    appearance: none;
    border: 2px solid white;
}
input[type="checkbox"]:checked{
background-color: rgb(247, 181, 60);
}
.listContainer li label{
    color: wheat;
    text-decoration: none;
}
.listContainer li label:hover{
    cursor: pointer;
}
.listContainer li:hover{
    transform: scale(1.2);
    transition: .2s;
    margin-top: 10px;
    margin-bottom: 20px;
}
.searchButton{
    width: 300px;
    height:40px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 1.5rem;
    background-color:rgb(252, 184, 58);
    
}
.searchButton:hover{
   color:rgb(252, 184, 58);
   background-color: black;
   transition: .3s;
}
/* for changing images */
.imageContainer{
    background:url(../assets/Men-images-services/men-services-BG.png);
}
.hairImage{
    background:url(../assets/Men-images-services/hair.png);
}
.beard_service{
background: url(../assets/Men-images-services/beard.png);
}
.scalp_treatments{
    background: url(../assets/Men-images-services/scalp.png);
}
.hair_coloring{
    background: url(../assets/Men-images-services/hairColoring.png);
}

.groom_services{
    background: url(../assets/Men-images-services/groom.png);
}
.haircutbeard_service{
    background: url(../assets/Men-images-services/haircutbeard_service.png);
}
.haircutscalp_treatments{
    background: url(../assets/Men-images-services/haircutscalp_treatments.png);
}
.haircuthair_coloring{
    background: url(../assets/Men-images-services/hair_coloringhaircut.png);
}
.beard_servicescalp_treatments{
    background:url(../assets/Men-images-services/scalp_treatmentsbeard_service.png);
}
.beard_servicehair_coloring{
    background: url(../assets/Men-images-services/hair_coloringhaircut.png);
}
.hair_coloringscalp_treatments{
    background: url(../assets/Men-images-services/hair_coloringscalp_treatments.png);
}
.haircutbeard_servicescalp_treatments{
    background: url(../assets/Men-images-services/scalp_treatmentsbeard_servicehaircut.png);
}
.hair_coloringscalp_treatmentsbeard_service{
    background: url(../assets/Men-images-services/hair_coloringscalp_treatmentsbeard_service.png);

}
.imageContainer,
.hairImage,
.beard_service,
.scalp_treatments,
.hair_coloring,
.haircutbeard_service,
.haircutscalp_treatments,
.haircuthair_coloring,
.beard_servicescalp_treatments,
.beard_servicehair_coloring,
.hair_coloringscalp_treatments,
.haircutbeard_servicescalp_treatments,
.hair_coloringscalp_treatmentsbeard_service
 {
    background-size: contain;
    background-repeat: no-repeat;
    height:100svh ;
    width:80svh ;
    position: relative;
    border-radius: 500px;
    display: inline-block;
}
.groom_services{
    background-size: cover;
    background-repeat: no-repeat;
    height:100svh ;
    width:80svh ;
    position: relative;
    border-radius: 500px;
    display: inline-block;
}

