.mainBG{
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}

.container{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100svw;
    height: 90svh;
    top: 7vh;
    position: relative;
    overflow: visible;
}
.title_container{
    width: 40%;
    left: 60%;
    height: 100%;
    box-shadow:inset 0 0 10px var(--suratiTire),0 0 10px var(--suratiTire);
    border-radius:30px ;
}
.title_container ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.deactived_part{
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    height: calc(100% / 3.5);
    width: 50%;
    font-size: 1.5rem;
    cursor: pointer;  
    box-shadow:0 0 10px var(--suratiTire),inset 0 0 30px var(--suratiTire);
    color: #000;
    text-shadow: 0 0 5px var(--suratiTire); 
    transition: 0.3s;
}
.deactived_part:hover{
    transform: scale(1.1);
    color: #fff;
    box-shadow:inset 0 0 50px var(--suratiTire),inset 0 0 70px #00000082;
    text-shadow: 0 0 5px #000;
    transition: 0.3s;
    
}
/* for elements when actived */
.actived_part{
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    height: calc(100% / 3.5);
    width: 50%;
    font-size: 1.5rem;
    cursor: pointer;   
    color: #fff;
    background: var(--suratiTire);
    box-shadow: 0 0 30px #000,inset 0 0 5px #000000, inset 0 0 30px #000000;
    transition: 0.3s;

}
.informations{
width: 50%;
height: 100%;
border-radius: 30px;
top: 0;
left: 25%;
right: 25%;
box-shadow: 0 0 30px #b3005fd0,inset 0 0 30px #b3005fd0;
}
.clientsExperiences_container{
width: 100%;
height: 100%;
overflow-y: scroll;
border-radius: 50px;
background: url(../../assets/piece\ of\ paper.png);
background-size: cover;
background-repeat: no-repeat;
padding-left:3rem ;
top: 3rem;
}
.imageContainer{
    position: relative;
    height: 100%;
    width: 100%;
border-radius: 70px;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;

}
.VIP figure{
    position: absolute;
    top: 0;
}
.VIP img{
    position: absolute;
    width: 6rem;
    z-index: 5;
    left: calc(50% - 10rem);
    top:-2rem;
    transform: rotateZ(-20deg);
}

.profileIMG{
    width: 13rem;
    height: 12rem;
border-radius:50px;
    z-index: 4;


}
.imageContainer p{
    color: var(--banafshTire);
    font-size: 2rem;
    text-shadow: 0 0 5px var(--banafshTire);
    border-radius: 30px;
    position: absolute;
    bottom: 10%;
    padding-inline: 5%;
    box-shadow: 0 0 20px var(--suratiTire),inset 0 0 40px var(--suratiTire);
}
.imageContainer p span{
    color: #000;
    font-weight: 900;
    text-shadow: 0 0 5px #fff;

}
.textContainer{
border-radius: 30px;
height: 70%;
position: relative;
}
.select_first{
    font-size: 3rem;
    font-weight: 900;
    top: 30%;
    position: absolute;
    padding-inline: 15%;
    text-shadow:0 0 30px #fff, 0 0 5px #000;
    color: #000;
}
.personal_info{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    padding: 10px;
    font-size: 2rem;
    height: 100%;
}
.personal_info h1{
font-family: var(--en1);
color: var(--suratiTire);
padding: 10px;
left: 0;
box-shadow:0px 0px 5px #fff,5px -5px 5px #fff,inset -5px 5px 5px #ffffff7c,inset -5px -5px 5px #ffffff7c  ;
align-self: center;
border-radius: 50px;
text-shadow: 0 0 10px #fff;
}
.personal_info p{
    font-size: 1.5rem;
    font-family: var(--en2);
    color:#000;
    text-shadow: 0 0 10px #fff;
    height: calc(100% / 6);
}
.personal_info p span{
    font-size: 2rem;
    color: var(--suratiTire);
    text-shadow: 0 0 5px var(--suratiTire);
    font-family: var(--en2);

}






.loadingPart{
    color: var(--suratiTire);
    font-size: 4rem;
    margin: 250px ;
    text-shadow: 0 0 2px #000,0 0 5px var(--suratiTire),0 0 10px var(--suratiTire),0 0 20px #fff;
    animation:  wobble-hor-bottom 0.5s ease infinite;
    
}





    @-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
    }
    100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
    }
    100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    } 


    @keyframes wobble-hor-bottom {
			
		0% {
			transform:translateX(0%);
			transform-origin:50% 50%;
		}
		15% {
			transform:translateX(-30px) rotate(-6deg);
		}
		30% {
			transform:translateX(15px) rotate(6deg);
		}
		45% {
			transform:translateX(-15px) rotate(-3.6deg);
		}
		60% {
			transform:translateX(9px) rotate(2.4deg);
		}
		75% {
			transform:translateX(-6px) rotate(-1.2deg);
		}
		100% {
			transform:translateX(0%);
			transform-origin:50% 50%;
		}
	}

    .slide_in {

		animation-name: slide-in-right;
		animation-duration: 0.5s;
		animation-timing-function: ease;
		animation-delay: 0s;
		animation-iteration-count: 1;
		animation-direction: normal;
		animation-fill-mode: both;
			
	}
	@keyframes slide-in-right {
			
		0% {
			transform:translateX(1000px);
			opacity:0;
		}
		100% {
			transform:translateX(0);
			opacity:1;
		}
	}
    .slide_out {
		width: 100px; height: 100px; background-color:#ffe672; 
		
		animation-name: slide-out-left;
		animation-duration: 0.5s;
		animation-timing-function: linear;
		animation-delay: 0s;
		animation-iteration-count: 1;
		animation-direction: normal;
		animation-fill-mode: none;
			
	}
	@keyframes slide-out-left {
			
		0% {
			transform:translateX(0);
			opacity:1;
		}
		100% {
			transform:translateX(-1000px);
			opacity:0;
		}
	}