.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    width: 100vw;
    height: 93vh;
}
.BG{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(2px);
}
.selectMethod{
    font-size: 1rem;
    color:var(--suratiRoshan);
    text-shadow:0 0 5px #fff;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    animation:  focus-in-contract 1s ease;
}
.buttonContainer{
    display: flex;
    justify-content: space-between;
}
.buttonContainer button{
    width: 8.5rem;
    height: 8rem;
    border-radius: 50%;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.3rem;
    cursor: pointer;
    padding-inline: 1rem;
    transition: all 0.2s ease-in-out;
    box-shadow:0 0 5px var(--suratiTire);
    color: var(--suratiTire);
    text-shadow: 0 0 5px var(--suratiTire);
}
.buttonContainer button:hover{
transform: scale(1.1);
color: #fff;
background: var(--suratiTire);
box-shadow:inset 0 0 5px #000;
text-shadow: 0 0 5px #fff;

}
.buttonContainer button:focus{
    color: #fff;
    background: var(--suratiTire);
    box-shadow:inset 0 0 30px #000;
    animation: shake-center 1s ease;
    text-shadow: 0 0 5px #fff;
    
}
.searchByLocation{
    font-weight: bold;
    border-radius: 50px;
    font-size: 1rem;
    box-shadow: 0 0 20px var(--suratiRoshan) ,inset 0 0 5px var(--suratiRoshan), inset 0 0 10px var(--suratiRoshan);
    height: 10rem;
    width: 33vw;
    margin-right: 10px;
    padding: 10px 10px;
    animation:  focus-in-contract 0.5s ease;
background:#f6bed690 ;
}
.searchByLocation h2{
    color: var(--suratiTire);
    text-shadow: 0 0 5px #fff;
}
.searchByLocation input{
    width: 90%;
    height: 30px;
    background:none;
    box-shadow: 0 0 15px ,inset 0 0 5px;
    border-radius: 50px ;
    margin-top: 10px;
    padding-inline: 20px;
transition: 0.5s;

}
.searchByLocation input:focus{
    box-shadow:0 0 30px var(--suratiTire), 0 0 20px var(--suratiTire);
    transition: 0.5s;
    border: none;
    background:var(--suratiTire);
    transition: 0.5s;
}
.searchByLocation input::placeholder{
    color: #000;
    text-shadow: 0 0 5px var(--suratiTire);
    opacity: 0.6;
    }

.servicesContainer{
    width: 37%;
}

.listContainer{
    list-style: none;
    font-size: 1.8rem;
    color:var(--suratiTire);
    text-shadow: 0 0 1px var(--suratiTire),0 0 7px #fff;
    box-shadow: 0 0 30px var(--suratiRoshan) ,inset 0 0 5px var(--suratiRoshan), inset 0 0 30px var(--suratiRoshan);
    padding: 20px;
    border-radius: 50px;
    animation:  focus-in-contract 0.2s ease;
overflow: hidden;
text-wrap:nowrap;
position: relative;

}
.listContainer h3{
    width: 100%;
}


.input{
    border-radius: 50%;
    width: 18px;
    height: 18px;
    appearance: none;
    border: 2px solid var(--suratiTire);
    cursor: pointer;
}
.input:checked{
background-color: var(--suratiTire);

}
.input:disabled{
    background-color: rgb(255, 0, 0);

}

.listContainer li label{
    color: var(--suratiRoshan);
    text-shadow: 0 0 5px var(--suratiRoshan);
    transition: .3s;
    text-decoration: none;
}
.listContainer li label:hover{
    cursor: pointer;
}
.listContainer li:hover > label{
    transition: .3s;
    color: var(--suratiTire);
    text-shadow: 0 0 10px;
}


.barbersList{
    height: 25rem;
    width: 30%;
}
.noteOfGroomService{
    font-size:1.5rem;
    color:var(--suratiRoshan2);
    box-shadow:  0 0 20px var(--suratiTire), 0 0 50px var(--suratiTire);
    background: #b3005fc2;
    border-radius: 50px;
    animation: shake-center 1.5s ease-in-out  2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    padding: 20px;
    text-wrap: wrap;
    text-shadow: 0 0 10px #000;
}

/* MQ */
@media (width <= 768px ){
.container{
    flex-direction: column;
    overflow-y: scroll;
    margin-top: 5vh;
    padding-inline: 5px;
}
.searchByLocation,
.servicesContainer{
width: 100%;
margin: 30px;
}
.barbersList{
    width: 100%;
    margin: 0px;
}

.selectMethod{
    width: 50%;
}


}
@media (width <= 320px ){
    .listContainer li label{
        font-size: 1.4rem;
    }
    .selectMethod{
        width: 50%;
    }
    
}

@keyframes focus-in-contract {
    
  0% {
    letter-spacing:1em;
    filter:blur(12px);
    opacity:0;
  }
  100% {
    filter:blur(0);
    opacity:1;
  }
}

@keyframes focus-in-contract {
    
    0% {
      letter-spacing:1em;
      filter:blur(12px);
      opacity:0;
    }
    100% {
      filter:blur(0);
      opacity:1;
    }
  }
@keyframes shake-center {
			
    0% {
        transform:rotate(0deg);
        transform-origin:50% 50%;
    }
    10% {
        transform:rotate(8deg);
    }
    20% {
        transform:rotate(-10deg);
    }
    30% {
        transform:rotate(10deg);
    }
    40% {
        transform:rotate(-10deg);
    }
    50% {
        transform:rotate(10deg);
    }
    60% {
        transform:rotate(-10deg);
    }
    70% {
        transform:rotate(10deg);
    }
    80% {
        transform:rotate(-8deg);
    }
    90% {
        transform:rotate(8deg);
    }
    100% {
        transform:rotate(0deg);
        transform-origin:50% 50%;
    }
}