.container{
    top: 7rem;
}
.container h2{
position: relative;
color: var(--goldRoshan);
animation: focus-in-contract 1s;
text-shadow: 0 0 2px #000,0 0 5px #000 ;

}
  
  .selectMethodError,
  .nothingFound{
    position: relative;
    font-size: 2rem;
    top: 30%;
    color: var(--suratiRoshan);
    text-shadow: 0 0 10px #000, 0 0 10px #000;
  }
  .loadingPart figcaption{
    position: relative;
    right: calc(50% - 13rem);
    bottom: calc(50% + 20px);
    color:red;
    font-size:3rem;
    z-index:10;
    font-family: var(--en1);
    font-weight: 900;

}

  .loadingPart img{
    width:200px;
    height: 300px;
    position:relative;
    right:calc(50% - 200px);
    z-index:1;
    border-radius: 50%;
 }


.containerOfList{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 10px;
grid-row-gap: 6px;
height: 20rem;
overflow-y: scroll;
}



@keyframes focus-in-contract {
    
  0% {
    letter-spacing:1em;
    filter:blur(12px);
    opacity:0;
  }
  100% {
    filter:blur(0);
    opacity:1;
  }
}