.mainBG{
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    height: 100vh;
    filter: blur(2px);
    z-index: -1;
}

.container{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    width: 100vw;
    height: 90vh;
    top: 0;
    bottom: 10vh;
    position: relative;
}
.title_container{
    width: 25%;
    height: 100%;
    left: 75%;
}
.title_container ul{
    height: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.deactived_part{
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
    background:var(--goldRoshan);
    box-shadow: 0 0 30px #000 ,inset 0 0 5px #000, inset 0 0 30px #000;
    border-radius: 50%;
    height: calc(100% / 3.5);
    width: 50%;
    font-size: 1.5rem;
    cursor: pointer;   
}
/* for elements when actived */
.actived_part{
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    height: calc(100% / 3.5);
    width: 50%;
    font-size: 1.5rem;
    cursor: pointer;   
    color: var(--goldRoshan);
    background: #000;
    box-shadow: 0 0 30px #000,inset 0 0 5px var(--goldRoshan), inset 0 0 30px var(--goldRoshan);
    transition: 0.3s;

}
.informations{
width: 50%;
height: 100%;
border-radius: 50px;
box-shadow: 0 0 20px ;
background: rgba(167, 167, 167, 0.384);
top: 0;
left: 25%;
right: 25%;
overflow: hidden;

}
.imageContainer{
    position: relative;
    background: #ffffff73;
    height: 60%;
    backdrop-filter: blur(3px);
    width: 23%;
    margin: 5% 1% 10% 1%;
border-radius: 70px;
display: flex;
box-shadow:0px 0px 5px #0000008c,5px -5px 5px #0000008f,inset -5px 5px 5px #ffffff7c,inset -5px -5px 5px #ffffff7c  ;

}
.VIP figure{
    left: 0;
}
.VIP img{
    position: absolute;
    width: 6rem;
    z-index: 5;
    left: 0;
    top: -1rem;
    transform: rotateZ(-20deg);
}
.VIP figcaption{
    position: absolute;
    z-index: 6;
    font-size: 1.7rem;
    left: 3.1rem;
    top: 1.35rem;
    transform: rotateZ(-40deg);
    text-shadow: 0 0 5px ,0 0 2px #fff;
}
.profileIMG{
    position: absolute;
    width: 13rem;
    height: 12rem;
    left: 3rem;
    top: 1rem;
border-radius:50px;
    z-index: 4;


}
.imageContainer p{
    color: var(--goldRoshan);
    font-size: 2rem;
    text-shadow: 0 0 5px #000;
    position: absolute;
    bottom: 10%;
    padding-inline: 5%;
}
.imageContainer p span{
    color: var(--abiTire);
    font-weight: 900;
    text-shadow: 0 0 5px #fff;

}
.textContainer{
border-radius: 30px;
height: 70%;
position: relative;
}
.select_first{
    font-size: 3rem;
    top: 30%;
    position: absolute;
    padding-inline: 15%;
    text-shadow:0 0 10px #000, 0 0 3px #000;
    color: var(--goldTire);
}
.personal_info{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    padding: 10px;
    color: var(--goldTire);
    text-shadow: 0 0 2px #000;
    font-size: 2rem;
    height: 100%;
}
.personal_info h1{
font-family: var(--en1);
color: var(--goldRoshan);
padding: 10px;
left: 0;
box-shadow:0px 0px 5px #0000008c,5px -5px 5px #0000008f,inset -5px 5px 5px #ffffff7c,inset -5px -5px 5px #ffffff7c  ;
align-self: center;
border-radius: 50px;
text-shadow: 0 0 10px #000;
}
.personal_info p{
    font-size: 1.7rem;
    font-family: var(--en2);
    color:var(--abiTire);
    text-shadow: 0 0 10px #fff;
    height: calc(100% / 6);
}
.personal_info p span{
    font-size: 2rem;
    color: var(--goldTire);
    text-shadow: 0 0 5px #000;
    font-family: var(--en2);

}





.reservation{
    width: 100%;
    height: 100%;
    background: #00000068;
}
.loadingPart{
    color: var(--goldTire);
    font-size: 4rem;
    margin: 250px ;
    text-shadow: 0 0 1px #fff,0 0 5px #000,0 0 20px #000;
    animation:  wobble-hor-bottom 0.5s ease infinite;
    
}
.textContainer span{

}
.textContainer {
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
    font-weight: 600;

}
.textContainer a button{
    width:200px;
    height: 30px;
    margin: 0 20px;
    font-size: 1.1rem;
    border-radius: 30px;
    background-color: rgb(247, 181, 60);
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.1), inset -4px -4px 8px rgba(255, 255, 255, 0.5),4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.5);;

}
.textContainer a button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(247, 181, 60);
    cursor: pointer;
    transition: .3s;
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.1), inset -4px -4px 8px rgba(255, 255, 255, 0.5),4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.5);;
}







    @-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
    }
    100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
    }
    100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    } 


    @keyframes wobble-hor-bottom {
			
		0% {
			transform:translateX(0%);
			transform-origin:50% 50%;
		}
		15% {
			transform:translateX(-30px) rotate(-6deg);
		}
		30% {
			transform:translateX(15px) rotate(6deg);
		}
		45% {
			transform:translateX(-15px) rotate(-3.6deg);
		}
		60% {
			transform:translateX(9px) rotate(2.4deg);
		}
		75% {
			transform:translateX(-6px) rotate(-1.2deg);
		}
		100% {
			transform:translateX(0%);
			transform-origin:50% 50%;
		}
	}

    .slide_in {

		animation-name: slide-in-right;
		animation-duration: 0.5s;
		animation-timing-function: ease;
		animation-delay: 0s;
		animation-iteration-count: 1;
		animation-direction: normal;
		animation-fill-mode: both;
			
	}
	@keyframes slide-in-right {
			
		0% {
			transform:translateX(1000px);
			opacity:0;
		}
		100% {
			transform:translateX(0);
			opacity:1;
		}
	}
    .slide_out {
		width: 100px; height: 100px; background-color:#ffe672; 
		
		animation-name: slide-out-left;
		animation-duration: 0.5s;
		animation-timing-function: linear;
		animation-delay: 0s;
		animation-iteration-count: 1;
		animation-direction: normal;
		animation-fill-mode: none;
			
		/* shorthand
		animation: slide-out-left 1s linear 0s 1 normal none;*/
	}
	@keyframes slide-out-left {
			
		0% {
			transform:translateX(0);
			opacity:1;
		}
		100% {
			transform:translateX(-1000px);
			opacity:0;
		}
	}