.container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}
.BG{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}
.listContainer{
    list-style: none;
    font-size: 1.9rem;
    color:var(--goldTire);
    position: fixed;
    text-shadow: var(--textShadowLight);
}


input[type="checkbox"]{
    border-radius: 50%;
    width: 18px;
    height: 18px;
    appearance: none;
    border: 2px solid white;
}
input[type="checkbox"]:checked{
background-color: var(--goldRoshan);
}
input[type="checkbox"]:disabled{
    background-color: rgb(255, 0, 0);
    

}

.listContainer li label{
    color: var(--goldRoshan);
    text-shadow: 0 0 2px #000;
    transition: .5s;
    text-decoration: none;
}
.listContainer li label:hover{
    cursor: pointer;
}
.listContainer li:hover > label{
    transition: .3s;
color: var(--abiTire);
}


.barbersList{
    height: 25rem;
}
.noteOfGroomService{
    font-size:1.5rem;
    color:var(--abiTire);
    box-shadow:  0 0 20px var(--goldRoshan), 0 0 50px var(--goldTire);
    background: #f8df22c5;
    width: 10rem;
    border-radius: 50px;
    animation: shake-center 2s ease-in-out  3;
    position: fixed;
    left: calc(50% - 10rem);
    top: calc(50% - 10rem);
    padding: 20px;

}

@keyframes shake-center {
			
    0% {
        transform:rotate(0deg);
        transform-origin:50% 50%;
    }
    10% {
        transform:rotate(8deg);
    }
    20% {
        transform:rotate(-10deg);
    }
    30% {
        transform:rotate(10deg);
    }
    40% {
        transform:rotate(-10deg);
    }
    50% {
        transform:rotate(10deg);
    }
    60% {
        transform:rotate(-10deg);
    }
    70% {
        transform:rotate(10deg);
    }
    80% {
        transform:rotate(-8deg);
    }
    90% {
        transform:rotate(8deg);
    }
    100% {
        transform:rotate(0deg);
        transform-origin:50% 50%;
    }
}