.container{
    justify-content:flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.chooseGender{
    color: wheat;

}
.imageContainer a img{
    height: 300px;
    border-radius: 30px;
    margin-top: -50px;

}
.chooseGender a img:hover{
    filter:contrast(1.3);
    transform: scale(1.2);
    transition: 0.5s;
}
.line{
    width:500px;
    height: 3px;
    background-color: rgb(99, 99, 99);
    text-align: center;
    border-radius: 150%;
    margin: 10px auto;
}
.login{
    color: wheat;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    height: 10px;
    padding-top: 30px;
}

