@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Courgette&family=Lato&family=Noto+Naskh+Arabic&display=swap');


body{
  /* font-family: 'Amiri', serif;
  font-family: 'Courgette', cursive;
  font-family: 'Lato', sans-serif;
  font-family: 'Noto Naskh Arabic', serif; */
  --abiTire:#060047;
  --abiRoshan:#9399FF;
  --abiRoshan2:#A9FFFD;
  --banafshTire:#460C68;
  --banafshRoshan:#7F167F;
  --suratiTire:#B3005E;
  --suratiRoshan:#E79CC2;
  --suratiRoshan2:#F6BED6;
  --fa1:'Amiri', serif;
  --fa2:'Noto Naskh Arabic', serif;
  --en1 :'Courgette', cursive;
  --en2 : 'Lato', sans-serif;
  --dropShadow:drop-shadow(-3px 3px 2px #1f1f1f)
                drop-shadow(-3px 3px 5px #242424);
--textShadowLight: 0px 0px 2px #fff;
}